In [4]:
%sql ibm_db_sa://usrname:pswrd@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

In [1]:
!pip install --user ipython-sql
!pip install --user ibm_db
!pip install --user ibm_db_sa

Requirement already satisfied: ipython-sql in /Users/codepilot/.local/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: sqlparse in /Users/codepilot/.local/lib/python3.7/site-packages (from ipython-sql) (0.3.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.13)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: six in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: prettytable<1 in /Users/codepilot/.local/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: decorator in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.3)
Requirement already satisfied: pickleshare in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: backcall in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: wcwidth in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: ibm_db in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (3.0.2)
Requirement already satisfied: ibm_db_sa in /Users/codepilot/.local/lib/python3.7/site-packages (0.3.5)
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ibm_db_sa) (1.3.13)
Requirement already satisfied: ibm-db>=2.0.0 in /Users/codepilot/opt/anaconda3/lib/python3.7/site-packages (from ibm_db_sa) (3.0.2)

In [3]:
%load_ext sql

In [4]:
import ibm_db
import ibm_db_sa

## Problem 1: Find the total number of crimes recorded in the crime table.

In [8]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

## Problem 2: Retrieve first 10 rows from the CRIME table.

In [11]:
%sql select * from CHICAGO_CRIME_DATA limit 10

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.datetime(2004, 8, 28, 17, 50, 56), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.datetime(2004, 6, 26, 12, 40), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.datetime(2010, 12, 30, 16, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', datetime.datetime(2010, 9, 29, 7, 59), '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', datetime.datetime(2016, 11, 30, 1, 15), '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', datetime.datetime(2005, 12, 16, 16, 45), '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', datetime.datetime(2005, 1, 28, 17, 0), '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', datetime.datetime(2004, 5, 13, 14, 15), '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

## Problem 3: How many crimes involve an arrest.

In [13]:
%sql select count(*) from CHICAGO_CRIME_DATA where arrest = TRUE

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

## Problem 4: Which unique types of crimes (e.g. THEFT) have been recorded at a GAS STATION locations?

In [25]:
%%sql select DISTINCT(primary_type), location_description from CHICAGO_CRIME_DATA 
where location_description like 'GAS%'

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS', 'GAS STATION'),
 ('NARCOTICS', 'GAS STATION'),
 ('ROBBERY', 'GAS STATION'),
 ('THEFT', 'GAS STATION')]

## Problem 5: In the CENUS_DATA table list all community areas whose names start with the letter ‘B’.

In [24]:
%sql select community_area_name from CENSUS_DATA where community_area_name like 'B%'

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

## Problem 6: List the schools in community areas 10 to 15 that are healthy school certified.

In [37]:
%%sql select name_of_school from CHICAGO_PUBLIC_SCHOOLS
where healthy_school_certified = 'Yes' and community_area_number between 10 and 15

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

## Problem 7: What is the average school Safety Score?

In [39]:
%sql select avg(safety_score) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

In [46]:
%%sql select sum(safety_score)/(select count(*)-
                                (select count(*) from CHICAGO_PUBLIC_SCHOOLS where safety_score is null) 
                                from CHICAGO_PUBLIC_SCHOOLS)
from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873294346'),)]

In [47]:
## Just wanted to check whether avg counts null values or not :) It takes only non null values thats great :)

## Problem 8: Find the top 5 Community Areas by average College Enrollment [number of students].

In [56]:
%%sql select avg(college_enrollment) as total, community_area_name 
from CHICAGO_PUBLIC_SCHOOLS 
group by community_area_name
order by total desc
limit 5
##used average instead of sum because the avarage statement in the question

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2411.500000'), 'ARCHER HEIGHTS'),
 (Decimal('1317.000000'), 'MONTCLARE'),
 (Decimal('1233.333333'), 'WEST ELSDON'),
 (Decimal('1205.875000'), 'BRIGHTON PARK'),
 (Decimal('1198.833333'), 'BELMONT CRAGIN')]

## Problem 9: Use a sub-query todeterminewhich Community Area has the least value for school Safety Score?

In [90]:
%%sql select name_of_school, Safety_Score 
from CHICAGO_PUBLIC_SCHOOLS 
where Safety_Score = (select min(Safety_Score) from CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[('Edmond Burke Elementary School', 1)]

## Problem 10: [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [89]:
%%sql select community_area_number,per_capita_income from CENSUS_DATA  
where community_area_number in (select community_area_number from CHICAGO_PUBLIC_SCHOOLS where Safety_Score = 1 )

 * ibm_db_sa://smc16983:***@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB
Done.

[(40, 13785)]